CMakeCache.txt
cmake_install.cmake

*.class
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.lnk
*.bat
*.spv
*.idea
!GenerateSolution.bat

.vs/
doc/
CMakeFiles/
Debug/
Release/
x64/
EulerAdventure.dir/
